.playlist-manager {
  margin: 20px;
}

.header {
  width: 100%;
}

.header-row {
  height: 60px;
  margin-right: 30px;
  border-bottom: 2px solid #bb0000;
}

.header-title {
  margin-left: -15px;
  font-size: 30px;
}

.header-logout {
  margin-top: 5px;
  margin-right: -30px;
}

.header-status-text {
  margin-top: 12px;
}

.content-panel {
  width: 100%;
  margin-top: 10px;
  margin-left: -15px;
}

.content-title-row {
  margin-top: 10px;
}

.playlist-title {
  font-size: 24px;
}

.back-link {
  padding-top: 7px;
  font-size: 14px;
}

.youtube-nav-link {
  padding-top: 7px;
  font-size: 14px;
}

.youtube-nav-link a {
  padding-right: 15px;
}

.action-row {
  margin-top: 15px;
}

.sort-link {
  margin-left: 15px;
}

.playlist-items {
  margin-top: 15px;
}

.item-list {
  margin-top: 5px;
  margin-left: -40px;
  margin-right: 10px;
}

.item-list li {
  list-style: none;
  border-top: 1px solid #dfdfdf;
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-list li:first-child {
  border-top: none;
  padding-top: 0px;
}

.item {
  position: relative;
}

.item:hover {
  background-color: #eaf7fb;
}

.item img {
  display: inline-block;
  width: 90px;
}

.item .info {
  display: inline-block;
  position: absolute;
  top: 6px;
  margin-left: 10px;
}

.video-item .info {
  top: 15px;
}

.item .title {
  font-size: 22px;
  color: #444;
}

.item .video-count {
  color: #888;
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login {
  height: 300px;
}

.login-button {
  margin-top: 25px;
}
